{% extends "base.html" %}

{% block contenido %}

<div class="card p-5">

    <h1 class="mb-4">Sobre mí</h1>

    <h4 class="mb-3">Perfil Profesional</h4>

    <p>
        Como fundador de LM Profesionales y profesional en Ciencias Económicas mi perfil se orienta 
        hacia la maximización de los resultados económicos y financieros. A lo largo de mi trayectoria, he desarrollado competencias tanto técnicas
        como estratégicas, combinando conocimientos tradicionales de la profesión con herramientas
        modernas de análisis.
    </p>

    <p>
        Cuento con formación de posgrado (MBA) y capacitación en Data Science aplicada a negocios,
        lo que me permite abordar problemáticas complejas desde una perspectiva integral, generando
        valor agregado a través del análisis, la automatización y la interpretación de información.
    </p>

    <h4 class="mt-4 mb-3">Experiencia y enfoque</h4>

    <p>
        He participado en la gestión administrativa y financiera de organizaciones, desarrollando
        tareas vinculadas a la planificación, control de gestión, análisis de resultados y mejora
        continua de procesos. Mi enfoque está orientado a la eficiencia, la transparencia y el uso
        inteligente de la información como herramienta clave para el crecimiento.
    </p>

   
    <h4 class="mt-4 mb-3">Objetivo profesional</h4>

    <p>
        Mi objetivo es continuar desarrollándome en roles donde pueda aportar valor estratégico,
        combinando mi experiencia contable y financiera con herramientas de análisis de datos,
        contribuyendo a la toma de decisiones y al crecimiento sostenible de las organizaciones.
    </p>

  
</div>

{% endblock %}
